.contactUs h1 {
  color: black;
  padding-top: 100px;
  font-weight: lighter;
  letter-spacing: 0.4rem;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}

.ulcenter {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

li {
  padding: 5px;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

@media all and (max-width: 500px) {
  .ulcenter {
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
  }
}
