.center-content {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 70px;
}

.center-content h4 {
  text-decoration: underline;
  padding: 15px;
  cursor: pointer;
}

button {
  background-color: red;
  padding: 15px 10px;
  font-size: medium;
  letter-spacing: 0.4rem;
  border-style: none;
  color: aliceblue;
  cursor: pointer;
}
