.style {
  text-align: left;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 60px;
}

.items h4 {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 20px;
  text-decoration: underline;
  font-size: 1rem;
  color: gray;
}

.items p {
  text-align: center;
  padding-bottom: 3px;
  font-size: 0.8rem;
  letter-spacing: 0.11rem;
  line-height: normal;
}

.purchased span {
  text-decoration: line-through;
}

.items h5 {
  text-align: center;
  padding-bottom: 4px;
  padding-top: 4px;
  font-size: 0.8rem;
}

li {
  padding: 0%;
  margin: 0%;
}
input {
  text-align: center;
  margin-left: 10px;
  position: relative;
  margin-bottom: 16px;
}

.buttonGrouped {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

hr {
  border-top: 1px solid grey;
}

.comparePrice {
  background-color: rgb(22, 151, 5);
  color: white;
  display: block;
  width: 35%;
  margin: auto;
  border-radius: 10px;

  margin-bottom: 10px;
  margin-top: 10px;
  width: auto;
  padding: 5px;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 0.11rem;
  justify-content: center;
  cursor: pointer;
}

.clearAll {
  border-radius: 10px;

  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 25%;
  padding: 5px;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 0.11rem;
  justify-content: center;
  cursor: pointer;
}

@media all and (max-width: 271px) {
  .buttonGrouped {
    display: block;
  }
  .clearAll {
    width: 45%;
  }
}
